.card {
  position: relative;
  padding: 2rem 2rem 1rem 2rem;
  transition: all 0.2s ease;

  &__thumbnail {
    width: 100%;
    position: relative;
    margin-bottom: 1.3rem;
  }
  &__details {
    padding: 0rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__information {
  }

  &__statistics-container {
    margin-top: 0.7rem;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }

  &:hover &__statistics-container {
    opacity: 1;
    visibility: visible;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    z-index: -1;
    clip-path: inset(4rem 0 3.5rem 5.5rem round 2rem);
    background: rgba(255, 255, 255, 0.4);
    // background-color: blue;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2rem;
    transition: clip-path 0.2s ease 0.1s, background 0.2s ease 0.1s;
    // background-color: ;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    clip-path: inset(0 0 0 0 round 2rem);
    background: rgba(255, 255, 255, 0.9);
    transition-delay: 0s;
  }
}

.statistics-container {
  &__wrapper {
    background-color: #f7ddde;
    border-radius: 1rem;
    padding: 0.2rem 1.2rem;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    & button {
      height: fit-content;
    }
  }
  &__svg {
    fill: $primary-color;
    width: 1.7rem;
    transition: all 0.2s ease;
    &:hover {
      fill: $secondary-color;
    }
    &--liked {
      fill: $secondary-color;
    }
  }
  &__text {
    fill: $primary-color;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.information {
  &__wrapper {
    margin-top: 0.3rem;
    margin-left: 1.5rem;
    margin-bottom: 0.6rem;
    flex-grow: 1;
  }
  &__project {
    &-title {
      font-family: "Raleway";
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-tagline {
      text-transform: uppercase;
      font-family: "Raleway";
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__user {
    &-img {
      border-radius: 50%;
      width: 3.4rem;
    }
    &-name {
      font-family: "Raleway";
      text-transform: capitalize;
      color: rgba($primary-color, 0.8);
      font-size: 1.2rem;
      font-weight: 700;
      transition: all 0.2s ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.thumbnail {
  &__placeholder {
    display: table;
    overflow: hidden;
    object-fit: cover;
  }
  &__img {
    display: table-row;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5690651260504201) 100%
    );

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    opacity: 0;
    z-index: 2;
    border-radius: 2rem;
    visibility: hidden;
    transition: all 0.3s ease;
    padding: 1.2rem 3rem;
    display: flex;
    align-items: center;
  }
  &__placeholder:hover &__overlay {
    opacity: 1;
    visibility: visible;
  }
}
