.modal {
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: rgba(black, 0.8);
  backdrop-filter: blur(0.2rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
